.container {
  background-color: #4c9697;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  background-color: #4c9697;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/Barcelona2.jpg");
  background-size: cover;
  margin-top: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 120px;
}

.header-text {
  color: palegoldenrod;
  font-family: "Gloria Hallelujah", cursive;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/Speech Bubbles3.JPG");
  background-size: cover;
  margin-top: 40px;
  display: block;
  margin: 0 auto;
  padding: 120px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  font-family: "Comfortaa", sans-serif;
  font-size: 12px;
  color: palegoldenrod;
}

a {
  color: palegoldenrod;
}

a:visited {
  color: #4c9697;
}

hr {
  border-color: #4c9697;
}

h3 {
  font-size: 16px;
  color: #4c9697;
}

.footer-section {
  padding: 20px;
}
header h1 {
  font-size: 60px;
  margin-top: 0;
}

header h2 {
  font-size: 40px;
  margin-bottom: 0;
}
header h3 {
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  margin-top: 40px;
  line-height: 40px;
  color: palegoldenrod;
}

@media (max-width: 1300px) {
  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 26px;
  }

  header h3 {
    font-size: 24px;
    line-height: 40px;
  }

  header {
    padding: 80px;
  }
}

@media (max-width: 1000px) {
  header h1 {
    font-size: 40px;
  }

  header h3 {
    font-size: 16px;
    line-height: 30px;
  }

  header h2 {
    font-size: 24px;
  }

  header {
    padding: 60px;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 24px;
  }

  header h3 {
    font-size: 12px;
    line-height: 20px;
  }

  header h2 {
    font-size: 14px;
  }

  header {
    padding: 45px;
  }
}
