.container {
  background-color: #4c9697;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

body {
  background-color: #4c9697;
}

main {
  background-color: palegoldenrod;
  font-family: "Gloria Hallelujah", cursive;
  margin: 20px;
  padding: 20px;
  max-width: 100%;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/Barcelona2.jpg");
  background-size: cover;
  margin-top: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 120px;
  max-width: 100%;
}

.grid-2 h2 {
  color: #4c9697;
  font-size: 30px;
}

.grid-2 p {
  font-size: 14px;
  font-family: "Comfortaa", sans-serif;
  line-height: 24px;
}

.applied-theatre-school h3 {
  font-size: 24px;
}

.applied-theatre-school p {
  font-size: 14px;
  font-family: "Comfortaa", sans-serif;
  line-height: 24px;
}

.section-2 {
  font-family: "Comfortaa", sans-serif;
  padding: 20px;
  max-width: 100%;
  text-align: center;
}

.section-2 h3 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 24px;
}
.grid-2 ul {
  font-size: 18px;
}

.img-responsive {
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.header-text {
  color: palegoldenrod;
  font-family: "Gloria Hallelujah", cursive;
  position: relative;
  top: 20px;
}

.card {
  background-color: #ebb37a;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-header {
  max-width: 100%;
}

.card-footer h3 {
  font-family: "Gloria Hallelujah", cursive;
  color: black;
  font-size: 24px;
}
.card-footer p {
  font-family: "Comfortaa", sans-serif;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/Speech Bubbles3.JPG");
  background-size: cover;
  margin-top: 40px;
  display: block;
  margin: 0 auto;
  padding: 120px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  color: palegoldenrod;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px;
  padding: 20px;
  grid-gap: 30px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

a {
  color: palegoldenrod;
}

a:visited {
  color: #4c9697;
}

hr {
  border-color: #4c9697;
}

h3 {
  font-size: 16px;
  color: #4c9697;
}

header h1 {
  font-size: 60px;
  margin-top: 0;
}

header h2 {
  font-size: 40px;
  margin-bottom: 0;
}
header h3 {
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  margin-top: 40px;
  line-height: 40px;
  color: palegoldenrod;
}

@media (max-width: 1300px) {
  header h1 {
    font-size: 50px;
  }

  header h2 {
    font-size: 26px;
  }

  header h3 {
    font-size: 24px;
    line-height: 40px;
  }

  header {
    padding: 80px;
  }
}

@media (max-width: 1000px) {
  header h1 {
    font-size: 40px;
  }

  header h3 {
    font-size: 16px;
    line-height: 30px;
  }

  header h2 {
    font-size: 24px;
  }

  header {
    padding: 60px;
  }

  .grid {
    grid-template-columns: 1fr;
    font-size: 12px;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-2 h2 {
    font-size: 24px;
  }

  .grid-2 ul {
    font-size: 16px;
  }
  .applied-theatre-school h3 {
    font-size: 18px;
  }

  .section-2 h3 {
    font-size: 18px;
  }

  img {
    display: none;
  }

  .card img {
    display: block;
  }

  .card-footer h3 {
    font-size: 18px;
  }

  .card-footer p {
    display: block;
    font-size: 12px;
  }

  .grid-3-columns {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-2 {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  header h1 {
    font-size: 24px;
  }

  header h3 {
    font-size: 12px;
    line-height: 20px;
  }

  header h2 {
    font-size: 14px;
  }

  header {
    padding: 45px;
  }

  .grid {
    grid-template-columns: 1fr;
    font-size: 12px;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-2 h2 {
    font-size: 24px;
  }
  .grid-2 ul {
    font-size: 14px;
  }
  .applied-theatre-school h3 {
    font-size: 18px;
  }
  img {
    display: none;
  }

  .card-footer h3 {
    font-size: 14px;
  }

  .card-footer p {
    display: none;
  }

  .card {
    padding: 15px;
  }

  .grid-3-columns {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    padding: 5px;
  }

  .section-2 {
    display: block;
    margin: 0 auto;
    padding: 5px;
  }

  .section-2 h3 {
    font-size: 18px;
  }
}
